<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Utku Cikmaz | About</title>

	<link rel="stylesheet" href="/css/main.css">
</head>

<body id="about-body">
	<nav id="nav-bar">
		<a class="nav-link" href="/">Home</a>
		<a class="nav-link" href="/about">About</a>
		<a class="nav-link" href="/contact">Contact</a>
	</nav>
	<h1 id="main-title">Utku Cikmaz</h1>

	<div class="container">
		<div class="box box2">
			<h2 class="section-title">Skills and Interests</h2>
			<ul class="list">
				<li>Languages: HTML 5, CSS 3, Javascript, Typescript</li>
				<li>Frameworks: Bootstrap, React.js</li>
				<li>Tools: Git, Github, Cypress, Postman, Axios</li>
				<li>Soft Skills: Tailwind, Saas, jQuery</li>
				<li>Areas of Interest: React, Web Development, AI, Machine Learning, Design</li>
			</ul>
		</div>

		<div class="box box3">
			<h2 class="section-title">Achievements</h2>
			<ul class="list">
				<li>Full Stack Web Development Bootcamp Digi-Homeschooling, Germany.</li>
				<p>I learned the basics of programming and algorithms, expanded my React knowledge, and gained an
					understanding
					of
					the work.</p>
				<p>Skills: HTML, Linux, Git/Github, CSS, Bootstrap, JavaScript, React.js, SQL, Node.js, MongoDB</p>

				<li>React Movie App 02.2023 - 05.2023</li>
				<p>React project where users can log in, check overviews, IMDB ratings, and add movies to Favorites.</p>
				<p>Skills: HTML, CSS, Typescript, Bootstrap, React.js, Cypress, Supabase, Firebase Auth</p>

				<li>Omnifood 12.2021 - 01.2022</li>
				<p>Example website of a modern restaurant with design techniques.</p>
				<p>I took my CSS knowledge to the next level with this project by learning CSS Grid and Flex. I also
					applied
					standard design techniques and color palettes.</p>

				<li>Frame App</li>
				<p>Responsive website that assists in choosing frames for images and shows them on the wall.</p>
				<p>I made this site for my artist mother to choose frames for her paintings more easily.</p>
				<p>Skills: HTML, CSS, Javascript</p>

				<li>Guess the Number</li>
				<p>Number guessing game between 1 and 20.</p>
				<p>I improved my Javascript skills and understood the basics of an algorithm better.</p>
				<p>Skills: HTML, CSS, Javascript</p>
			</ul>
		</div>

		<div class="box box4">
			<h2 class="section-title">Certificates</h2>
			<ul class="list">
				<li>Build Responsive Real-World Websites with HTML and CSS - Jonas Schmedtmann</li>
				<li>HTML, CSS, and Javascript for Web Developers - Johns Hopkins University</li>
				<!-- Add the rest of your certificates here -->
			</ul>
		</div>

		<div class="box box5">
			<h2 class="section-title">Education</h2>
			<ul class="list">
				<li>Chinese Language and Literature - Istanbul University, Istanbul</li>
				<li>Sociology - Turkish Military Academy, Ankara</li>
				<li>Science - Bingül Erdem Anatolian High School, Istanbul</li>
			</ul>
		</div>

		<div class="box box6">
			<h2 class="section-title">Experience</h2>
			<ul class="list">
				<li>Integrated Operation Control Officer - Turkish Airlines (08.2016 - 06.2020)</li>
				<p>Centralized, real-time(minute-to-minute) operational control of over 400 planes of the company.</p>
				<p>I managed crises with worldwide stations in short notices to make everything appropriate to
					International
					aviation rules on the flight.</p>

				<li>Freelance English Teacher - English Tutoring Istanbul (06.2015 - 07.2020)</li>
				<p>I earned a better understanding of languages, grammar, and communication with people.</p>
				<p>I worked with many different people from different business areas, expanding my comprehension of
					diversity.
				</p>

				<li>Sales Marketing - Greenpeace Istanbul (07.2017 - 12.2017)</li>
				<p>I implemented face-to-face fundraising strategies and campaigns to achieve fundraising goals.</p>
				<p>I collaborated with a team to ensure alignment and consistency of our campaign to increase donations
					for
					a
					greener world.</p>
			</ul>
		</div>

		<div class="box box7">
			<h2 class="section-title">Positions of Responsibility</h2>
			<ul class="list">
				<li>Senior Cadet - North Atlantic Treaty Organization (NATO) mission in Italy</li>
				<li>Battalion Senior Cadet - Senior of 700 cadets in Military Academy</li>
				<li>President Cadet of the Club - International Relations Club in Army</li>
			</ul>
		</div>

		<div class="box box8">
			<h2 class="section-title">Languages</h2>
			<ul class="list">
				<li>Turkish - Native</li>
				<li>English - Advanced</li>
				<li>German - Intermediate</li>
				<li>Chinese - Elementary</li>
			</ul>
		</div>

		<div class="box box9">
			<h2 class="section-title">Hobbies</h2>
			<ul class="list">
				<li>Physics and Astronomy - Cosmos, Quantum Mechanics, and Relativity</li>
				<li>Programming - Web Development and Artificial Intelligence</li>
				<li>Taekwon-Do - Black Belt</li>
				<li>Photography - Canon A-1 35mm Analog Camera</li>
				<li>Interior Design and Smart Home Systems</li>
				<li>Travelling - Abroad and Exploring Other Cultures and People</li>
				<li>Acoustic Guitar - Beginner for now</li>
			</ul>
		</div>
	</div>
	<!-- <img src="" alt=""> -->
</body>

</html>