<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Utku Cikmaz</title>
	<link rel="stylesheet" href="/css/main.css">
</head>

<body id="contact-body">
	<nav id="nav-bar">
		<a class="nav-link" href="/">Home</a>
		<a class="nav-link" href="/about">About</a>
		<a class="nav-link" href="/contact">Contact</a>
	</nav>

	<h1 id="main-title">Contact with Utku</h1>
	<div class="container">
		<div class="box box5">
			<h2 class="section-title">Contact Informations</h2>
			<br />
			<ul class="list">
				<li class="contact-item">Email: utkucikmaz@gmail.com</li>
				<li class="contact-item">Phone: +49 176 85 311 311</li>
				<li class="contact-item">Location: Dresden, Germany</li>
			</ul>
		</div>
		<div class="box box7">
			<h2 class="section-title">Social Networks</h2>
			<ul class="list">
				<br />
				<li class="contact-item">
					<a class="social-link" href="https://github.com/utkucikmaz" target="_blank">GitHub</a>
				</li>
				<li class="contact-item">
					<a class="social-link" href="https://linkedin.com/in/utkucikmaz" target="_blank">LinkedIn</a>
				</li>
				<li class="contact-item">
					<a class="social-link" href="https://instagram.com/utkucikmaz" target="_blank">Instagram</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- <img src="" alt=""> -->
</body>

</html>