<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Utku Cikmaz</title>
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<nav id="nav-bar">
		<a class="nav-link" href="/">Home</a>
		<a class="nav-link" href="/about">About</a>
		<a class="nav-link" href="/contact">Contact</a>
	</nav>
	<div class="container">
		<div class="box box4">
			<h2 class="home-title">Aspiring Frontend Developer</h2>
			<div class="content">
				<p class="home-text">I am Utku, a passionate junior frontend developer based in Dresden, Germany. I
					recently
					completed a Full Stack
					Web
					Development Bootcamp, where I honed my skills in HTML, CSS, JavaScript, React.js, and more. My
					journey into
					web
					development started with projects like the React Movie App, where I built a user-friendly platform
					for movie
					enthusiasts. I thrive on challenges and continuously seek opportunities to expand my knowledge in
					web
					development,
					AI, and machine learning.</p>
				<img id="images-home" src="/images/dev.jpg" alt="webdev utku">
			</div>
		</div>

		<div class="box box8">
			<h2 class="home-title">Multi-Faceted Background</h2>
			<div class="content">
				<img id="images-home" src="/images/back.jpg" alt="multi utku">
				<p class="home-text">My background is diverse, ranging from military service as an Integrated
					Operation
					Control Officer at Turkish
					Airlines to freelance English teaching. These experiences have honed my communication,
					problem-solving, and
					leadership skills. I've also delved into languages like English, German, and even elementary
					Chinese,
					demonstrating
					my passion for learning. With a strong foundation in web development and a versatile skill set, I am
					eager
					to
					contribute my expertise to innovative projects in the software development field.</p>
			</div>
		</div>

		<div class="box box1">
			<h2 class="home-title">Interests Beyond Coding</h2>
			<div class="content">
				<p class="home-text">Beyond coding, I have a keen interest in physics, astronomy, and Taekwon-Do. I
					hold a
					black belt in Taekwon-Do
					and
					enjoy exploring the cosmos, quantum mechanics, and relativity in my free time. My hobbies extend to
					photography
					with
					my trusty Canon A-1 35mm Analog Camera and an appreciation for interior design and smart home
					systems. I'm
					always
					excited to embark on new adventures, whether it's traveling abroad to explore different cultures or
					learning
					to
					play
					the acoustic guitar.</p>
				<img id="images-home" src="/images/beyond.jpg" alt="beyond utku">
			</div>
		</div>

		<!-- <img src="" alt=""> -->
</body>

</html>